body {
    margin: 0;
    padding: 0;
    
    font-family: Cuprum, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}


.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}

.button:hover {
    background-color: #ca2c37;
}

.button:focus {
    background-color:#ba2732;
}

.page-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.inner-page .page-header {
    margin-bottom: 20px;
}

.header-top {
    width: 100%;

    font-size: 17px;
    color: #ffffff;

    background-color: #293449;
}

.header-top .container {
    display: flex;
    flex-wrap: wrap;

    position: relative;
}

.header-logo,
.footer-logo {
    background-color: #ee3643;
    box-shadow: inset  0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo {
    padding: 13px 55px;
}

.header-logo img {
    width: 109px;
    height: 19px;
}

.user-menu-btn,
.header-top input {
    display: block;
}

.header-top input {
    width: 270px;
    
    margin: 0;
    margin-left: 219px;
    padding: 13px 0;
    padding-left: 49px;
    
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: transparent;
    border: none;
}

.header-top input:hover {
    background-color: #212a3a;
}

.header-top input:focus {
    outline: none;
    background-color: #ffffff;
    color: #000000; 
}

.header-top .user-menu-btn {
    width: 150px;
    padding: 13px 0;
    margin: 0;
    
    color: #ffffff;

    box-sizing: border-box;
}

.header-top .user-menu-btn-marker {
    position: relative;

    padding-left: 44px;
}

.header-top .user-menu-btn-marker::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;

    background-color: rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-top .user-menu-btn-cart {
    position: relative;

    padding-left: 50px;
}

.header-top .user-menu-btn-cart::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;

    background-color: rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-top .user-menu-btn-issue {
    padding-left: 20px;

    background-color: #63a63e;
}

.header-top .user-menu-btn:hover {
    background-color: #212a3a;
}

.header-top .user-menu-btn-issue:hover {
    background-color: #5fbb2d;
}

.header-top .user-menu-btn:focus {
    color: rgba(255, 255, 255, 0.6);
}

.header-top .user-menu-btn-issue:focus {
    background-color: #518534;
}

.header-main {
    width: 100%;

    background-color: #f1f5f7;
}

.header-middle {
    display: flex;
    margin-bottom: 40px;
}

.header-text {
    width: 200px;
    margin: 0;
    margin-top: 48px;
    padding: 0;
    padding-left: 52px;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    color: #ee3643;
}

.header-contacts {
    display: flex;
    flex-direction: column;
}

.header-contacts a {
    position: relative;

    padding: 9px 52px;
    padding-left: 70px;
    margin: 0;
    margin-left: 68px;
    margin-top: 46px;
    margin-bottom: 4px;

    font-size: 21px;
    line-height: 21px;
    color: #e9292a;

    background-color: transparent;
    border: 3px solid #ffffff;
}

.header-contacts a::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 13px;
    width: 19px;
    height: 19px;

    background-color: rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-address {
    margin: 0;
    margin-left: 76px;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-nav {
    display: flex;

    margin: 0;
    margin-top: 57px;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.user-nav a {
    margin: 0;
    margin-right: 10px;
    padding: 10px 25px;

    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.user-nav .reg-link {
    margin-right: 0;
}

.user-nav .login-link {
    position: relative;
    padding-left: 48px;
}

.user-nav .login-link::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;

    background-color: rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-nav a:hover {
    color: #ee3643;
}

.user-nav a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.user-nav .user-link {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    margin-bottom: 60px;
    padding: 0 20px;

    font-size: 17px;
    line-height: 17px;
    list-style: none;
    
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.page-nav a {
    display: block;
    margin: 0;
    padding: 20px 31px;

    vertical-align: middle;
    color: #ffffff;
}

.page-nav a:hover {
    background-color: #293449;
}

.page-nav a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 53px;
    padding: 0;
}

.promo-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 620px;
}

.promo-right {
    display: flex;
    flex-direction: column;

    width: 300px;
}

.promo-item {
    width: 300px;
    height: 123px;

    margin-bottom: 20px;
}

.promo-right .promo-item-delivery {
    margin-bottom: 0;
}

.promo-item h3 {
    margin: 0;
    padding: 0;
    padding-top: 21px;
    padding-left: 22px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.promo-item .button {
    display: inline-block;
    min-width: 135px;
    margin: 0;
    margin-top: 12px;
    margin-left: 25px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-sizing: border-box;
}

.promo-item .button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-item .button:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-item-materials {
    position: relative;

    background-color: #ffbf47;
}

.promo-item-materials::before {
    content: "";

    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;

    background-color:  rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-item-tool {
    position: relative;

    background-color: #3bbce3;
}

.promo-item-tool::before {
    content: "";

    position: absolute;
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;

    background-color:  rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-item-tech {
    position: relative;

    background-color: #dc91d8;
}

.promo-item-tech::before {
    content: "";

    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;

    background-color:  rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-item-sale {
    position: relative;

    background-color: #8ed78f;
}

.promo-item-sale::before {
    content: "";

    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;

    background-color:  rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-item-delivery {
    position: relative;

    background-color: #ffc047;
}

.promo-item-delivery::before {
    content: "";

    position: absolute;
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;

    background-color:  rgba(245, 0, 0, 0.3);
    background-image: url("img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-slider {
    position: relative;

    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
    
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.promo-slider-drill {
    position: absolute;
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 20;

    background-color: #212a3a;
    background-image: url("img/promo-slide-1.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.promo-slider-perforator {
    position: absolute;
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: #212a3a;
    background-image: url("img/promo-slide-2.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.slider-button {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 113px;
    z-index: 30;
}

.slider-button-right {
    right: 20px;
}

.slider-button-left {
    left: 25px;
}

.promo-slider h3 {
    padding: 0;
    margin: 0;
    margin-top: 23px;
    margin-left: 24px;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.promo-slider p {
    padding: 0;
    margin: 0;
    margin-left: 25px;
    margin-top: 2px;
}

.promo-slider .button {
    display: block;
    width: 195px;
    margin: 0;
    margin-left: 25px;
    margin-top: 120px;
    padding: 10px 0;

    text-align: center;

    border-radius: 2px;
}

.section-top {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.section-top h2 {
    padding: 30px 30px;
    margin: 0;
}

.section-top .button {
    display: block;
    width: 253px;

    padding: 10px 0;
    margin: 25px 0;
    margin-right: 25px;

    text-align: center;

    border-radius: 2px;
}

.popular {
    margin-bottom: 20px;
}

.popular-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.popular .section-title,
.brands .section-title {
    color: #32425c;
}

.popular-list,
.catalog-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
}

.catalog-item {
    position: relative;

    width: 220px;
    height: 318px;
    
    list-style: none;
    border: 1px solid #eaeaea;
}

.catalog-item .flag {
    position: absolute;

    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
    background-color: rgba(245, 0, 0, 0.3);
    background-image: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item h3 {
    padding: 0 30px;
    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.catalog-item a {
    color: #000000;
}

.catalog-item-price {
    display: block;
    position: relative;

    width: 80px;
    padding: 10px 30px;
    margin: 10px auto;
    margin-bottom: 20px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 3px;
}

.catalog-item-price::after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;
  
    width: 0;
    height: 0;
  
    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item-discount {
    display: block;

    padding: 0;
    margin-bottom: 10px;
    margin-left: 78px;

    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-transform: uppercase;
    text-decoration: line-through;
}

.catalog-item .hover-buttons {
    position: absolute;
    
    top: 0;
    left: 0;
    margin-left: 42px;
    margin-top: 44px;
    width: 218;
    height: 88px;

    font-size: 14px;
    line-height: 18px;

    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.hover-buttons .button-cart {
    width: 135px;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px 35px;

    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 0 #367315;
}

.hover-buttons .button-cart:hover {
    background-color: #5fbb2d;
}

.hover-buttons .button-cart:focus {
    background-color: #518534;
    box-shadow: none;
    outline: none;
}

.hover-buttons .button-marker {
    width: 135px;
    margin: 0;
    padding: 7px 20px;

    color: #32425c;

    background-color: transparent;
    border: 3px solid #63a63e;
}

.hover-buttons .button-marker:hover {
    border-color: #32425c;
}

.hover-buttons .button-marker:focus {
    color: rgba(50, 66, 92, 0.3);

    border-color: rgba(50, 66, 92, 0.3);
    outline: none;
}

.catalog-item .hover-buttons {
    display: none;
}

.catalog-item:hover .hover-buttons {
    display: block;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    list-style: none;
}

.brands-list-item {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.brands-list-item:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-item:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.services {
    width: 100%;

    margin: 0;
    padding: 0;
    margin-bottom: 80px;

    line-height: 24px;

    background-color: #f4f7f9;
}

.services-list {
    list-style: none;
}

.service-button {
    width: 240px;
    height: 61px;

    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;
    box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.service-button:hover {
    background-color: #293449;
}

.service-button:focus {
    color: #32425c;

    outline: none;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.service-slider h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: 400;
    text-transform: uppercase;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.about-us p {
    margin: 0;
    padding: 0;
    width: 519px;

    line-height: 24px;
}

.transport-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;

    list-style: none;
}

.contacts {
    margin: 0;
    padding: 0;
    width: 300px;

    line-height: 24px;
}

.inner-page main {
    font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    list-style: none;
}

.breadcrumbs a {
    color: #000000;
    text-transform: uppercase;
}

.page-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.subtitle {
    font: inherit;

    text-transform: uppercase;

    background-color: #f7f3ec;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.filter {
    text-transform: uppercase;
}

.filter fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 15px;
    line-height: 20px;
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.catalog {
    width: 700px;
}

.catalog-filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-filter a {
  color: rgba(0, 0, 0, 0.18);
  text-transform: uppercase; 
  text-decoration: underline dotted #ee3643; 
}

.catalog-filter a:hover {
    color: #000000;
    text-decoration: underline solid #ee3643;
}

.catalog-filter a:focus {
    color: #ee3643;
    text-decoration: none;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.inner-page .catalog-item {
    margin-bottom: 20px;
}

.pagination-list {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    list-style: none;
}

.pagination-item a {
    width: 38px;
    height: 38px;

    border: 1px solid #e5e5e5;
}

.pagination-item:last-child a {
    width: 140px;
    height: 38px;
}

.pagination-item a {
    color: #000000;
    text-transform: uppercase;
}

.pagination-item a:hover {
    border-color: #bdc6ca;
}

.pagination-item a:active {
    border-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;

    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
    color: #ffffff;

    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.catalog-text {
    margin: 0;
    padding: 0;

    background-color: #f4f7f9;
}

.catalog-text h2 {
    padding-top: 65px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog-text p {
    margin: 0;
    padding-bottom: 70px;

    line-height: 24px;
}

.page-footer {
    display: flex;
    flex-direction: column;

    margin-top: 86px;
}

.inner-page .page-footer {
    margin-top: 0;
}

.footer-top {
    width: 100%;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;

}

.footer-logo {
    width: 138;
    height: 23px;
}

.footer-bottom {
    width: 100%;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-nav,
.footer-catalog,
.footer-social {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-nav a,
.footer-social a {
    color: #ffffff;
}

.footer-catalog a,
.footer-feedback a,
.footer-create a {
    color: #ffd180;
}

.footer-nav a:hover,
.footer-catalog a:hover,
.footer-feedback a:hover,
.footer-create a:hover {
    text-decoration: underline;
}

.footer-nav a:focus {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-catalog a:focus {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-feedback a:focus,
.footer-create a:focus {
    color: #ee3643;
}

.modal {
    display: none;
}